<header>
	<nav>
		<div class="nav__left-container" style="height: 29px;">
			<div class="nav__button-container nav__button-container--notification">
				<a class="nav__logo-outer-wrap" href="/">
					<div class="nav__logo-inner-wrap"></div>
				</a>
			</div>
		</div>
	</nav>
</header>
<div class="page__outer-wrap">
	<div class="page__inner-wrap">
		<div class="widget-container">
			<div class="sidebar">
				{% block sidebar %}
				{% endblock %}
			</div>
			<div>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
<script>
	{% block scripts %}
	{% endblock %}
</script>
