<div class="page__outer-wrap">
	<div class="page__inner-wrap">
		<div class="widget-container">
			<div class="sidebar">
				{% block sidebar %}
				{% endblock %}
			</div>
			<div>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
<script>
	{% block scripts %}
	{% endblock %}
</script>