<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<title>SGPP - Settings</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./assets/css/minified.css">
		<script src="//code.jquery.com/jquery-1.11.2.min.js" async></script>
		<style>
			.page__heading{
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<div class="page__outer-wrap">
			<div class="page__inner-wrap">
				<div class="widget-container">
					<div class="sidebar">
						{% block sidebar %}
						{% endblock %}
					</div>
					<div>
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>