<div class="form__row">
	<div class="form__heading">
		<div class="form__heading__number">{{ number }}.</div>
		<div class="form__heading__text">
			<div class="SGPP__settings-checkbox is-disabled form__checkbox">
				<i class="SGPP__form__checkbox fa fa-circle-o"> </i>
				{{ friendly_name }}
			</div>
		</div>
	</div>
	{% if not description is empty %}
		<div class="form__row__indent">
			<div class="form__input-description">{{ description }}</div>
		</div>
	{% endif %}
	<input type="hidden" name="{{ name }}" value="0">
	{% block extra %}{% endblock %}
</div>
