{% import "macros.html.twig" as macros %}

{% extends "base.html.twig" %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<form>
		<div class="forms__rows">
			{{ macros.heading('#', 'Comment and Enter') }}
			{% embed "module.html.twig" with {'number' : '1', 'friendly_name' : 'Enabled', 'description' : 'Creates a button that allows both comment and enter.', 'name' : 'SGPP__CommentAndEnter'} %}
			{% endembed %}

			{{ macros.heading('#', 'Entry Commenters') }}
			{% embed "module.html.twig" with {'number' : '1', 'friendly_name' : 'Enabled', 'description' : 'Allows to check which entries/winners commented on the giveaway.', 'name' : 'SGPP__EntryCommenters'} %}
			{% endembed %}
		</div>
	</form>
{% endblock %}

{% block scripts %}
	$('.form__checkbox').on("click", function(){
	    var el = $(this);
	    var child = el.children('.SGPP__form__checkbox');
	    el.toggleClass('is-enabled');
	    child.removeClass('fa-circle');
	    child.toggleClass('fa-circle-o', !el.hasClass('is-enabled'));
	    child.toggleClass('fa-check-circle', el.hasClass('is-enabled'));
	});

	$('.form__checkbox').hover(function(){
		var el = $(this);
		var child = $(this).children('.SGPP__form__checkbox');
		if(!el.hasClass('is-enabled'))
		    child.removeClass('fa-circle-o').addClass('fa-circle');
	},
	function() {
	    var el = $(this);
	    var child = $(this).children('.SGPP__form__checkbox');
	    child.removeClass('fa-circle');
	    if(!el.hasClass('is-enabled'))
	        child.addClass('fa-circle-o');
	});
{% endblock %}
